<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<!--    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">&ndash;&gt;-->
    <style>
        body, html {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
        }
        main {
          flex: 1;
        }
    </style>
</head>
<body>

<!-- Navbar -->
<div th:replace="~{fragment/navbar :: navheader}"></div>

<!-- Konten -->
<main class="container my-5">
    <div class="text-center mb-4">
        <h1 class="display-5 fw-bold">Selamat Datang di Sistem Manajemen Gudang Barang</h1>
        <p class="lead">Aplikasi ini membantu Anda dalam mengelola barang bekas perusahaan secara efisien dan terstruktur.</p>
    </div>

    <div class="row g-4">
        <div class="col-md-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">📦 Data Produk</h5>
                    <p class="card-text">Kelola data barang bekas yang tersedia di gudang, lengkap dengan kategori, kondisi, dan lokasi penyimpanan.</p>
                    <img th:src="@{/images/gudang.jpg}" class="img-fluid" alt="Login Image">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">📝 Permintaan Barang</h5>
                    <p class="card-text">Ajukan permintaan barang dari divisi lain dan pantau status approval secara real-time.</p>
                    <img th:src="@{/images/gudang.jpg}" class="img-fluid" alt="Login Image">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">📄 Laporan</h5>
                    <p class="card-text">Buat laporan PDF atau Excel mengenai status barang dan aktivitas transaksi di gudang.</p>
                    <img th:src="@{/images/gudang.jpg}" class="img-fluid" alt="Login Image">
                </div>
            </div>
        </div>
    </div>
</main>


<!-- Footer -->
<div th:replace="~{fragment/footer :: footers}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
