<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main-table" class="table-responsive">
    <table class="table table-bordered text-center">
        <thead class="table-light">
        <tr>
            <!-- Kolom data -->
            <th th:each="map : ${listKolom}">
                <a th:href="@{'/'+${pathServer}+'/'+(${#strings.equals(sort,'asc')} ? 'desc' : 'asc')+'/'+${map.key}+'/'+${currentPage}+'?column='+${columnName}+'&value='+${value}+'&size='+${sizePerPage}}"
                   class="text-dark text-decoration-none">
                    [[${map.value}]]
                </a>
            </th>

            <!-- Kolom action jika Admin -->
            <th th:if="${AKSES == 'Admin'}">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="entry : ${listContent}">
            <!-- Isi data -->
            <td th:each="f : ${listHelper}">
                <div th:if="${f != 'productCategory'}" th:text="${entry.get(f)}"></div>
                <div th:if="${f == 'productCategory'}">
                    <p th:text="${entry.get(f).get('nama')}"></p>
                </div>
            </td>

            <!-- Tombol Action jika Admin -->
            <td th:if="${AKSES == 'Admin'}">
                <button class="btn btn-primary"
                        th:data-title="'Edit'"
                        th:data-server="'#server-results-edit'"
                        onclick="funcModalsHandler(event)"
                        th:data-url="'/'+${pathServer}+'/e/'+${entry.get('id')}"
                        data-toggle="modal" data-target="#edit1">
                    Edit Product
                </button>
                <button class="btn btn-danger"
                        onclick="getRequestHandler(event)"
                        th:data-title="${pathServer}"
                        th:data-url="'/'+${pathServer}+'/d/'+${entry.get('id')}">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
