<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<form  th:action="@{/product-category}"
	   th:object = "${data}" method="POST" id="addProductCategory">
	<input type="hidden" value="50c9a8c2b1cb45799d8f0db5f8449c65" /><!-- id form -->
	<div th:if="${#fields.hasErrors('global')}" class="error-box error-danger" >
		<p th:each="err : ${#fields.errors('global')}" th:text="${err}"  class="error"/>
	</div>
	<div class ="form-group">
		<label> Nama </label>
		<input
				type = "text"
				name = "nama"
				th:field = "*{nama}"
				class = "form-control"
				placeholder="Masukkan Nama Kategori"
		/>
		<ul>
			<li th:each="err : ${#fields.errors('nama')}" th:text="${err}" class="error" />
		</ul>
	</div>

	<div class = "modal-footer">
		<button type="submit" class = "btn btn-primary">
			Submit
		</button>
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	</div>
</form>

<script th:inline="javascript">
	/*<![CDATA[*/
        $("#addProductCategory").submit(function(event) {
              event.preventDefault(); //prevent default action
              let post_url = $(this).attr("action"); //get form action url
              let request_method = $(this).attr("method"); //get form GET/POST method
              let form_data = $(this).serialize(); //Encode form elements for submission
              $.ajax({
                  url: post_url,
                  type: request_method,
                  data: form_data
                }).done(function(response) { //
                let pattern = /50c9a8c2b1cb45799d8f0db5f8449c65/i;
                let result = response.match(pattern);
                if(result)
                {
                    $("#server-results-add").html(response);
                }
                else
                {
                    $('#add1').modal('hide');
                    confirm("DATA BERHASIL DISIMPAN");
                    window.location = "/product-category";// ini refresh page nya
                }
                });
            });

    /*]]>*/
</script>

<!--<form th:action="@{/product}"-->
<!--	  th:object="${data}" method="POST" id="addProduct" >-->
<!--	<input type="hidden" value="50c9a8c2b1cb45799d8f0db5f8449c65" />&lt;!&ndash; id form &ndash;&gt;-->
<!--	<div th:if="${#fields.hasErrors('global')}" class="error-box error-danger" >-->
<!--		<p th:each="err : ${#fields.errors('global')}" th:text="${err}"  class="error"/>-->
<!--	</div>-->
<!--	<div class ="form-group">-->
<!--		<label> Nama Product </label>-->
<!--		<input-->
<!--				type = "text"-->
<!--				name = "nama"-->
<!--				th:field = "*{nama}"-->
<!--				class = "form-control"-->
<!--				placeholder="Masukkan Nama Product"-->
<!--		/>-->
<!--		<ul>-->
<!--			<li th:each="err : ${#fields.errors('nama')}" th:text="${err}" class="error" />-->
<!--		</ul>-->
<!--	</div>-->

<!--	<div class ="form-group">-->
<!--		<label> Deskripsi </label>-->
<!--		<textarea-->
<!--				type = "text"-->
<!--				name = "deskripsi"-->
<!--				th:field = "*{deskripsi}"-->
<!--				class = "form-control"-->
<!--				placeholder="Masukkan Deskripsi"-->
<!--		/>-->
<!--		<ul>-->
<!--			<li th:each="err : ${#fields.errors('deskripsi')}" th:text="${err}" class="error" />-->
<!--		</ul>-->
<!--	</div>-->

<!--	<div class = "modal-footer">-->
<!--		<button type="submit" class = "btn btn-primary">-->
<!--			Submit-->
<!--		</button>-->
<!--		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--	</div>-->
<!--</form>-->

<!--<script th:inline="javascript" >-->
<!--	/*<![CDATA[*/-->
<!--        $("#addProduct").submit(function(event) {-->
<!--        	  console.log("1");-->
<!--              event.preventDefault(); //prevent default action-->
<!--              let post_url = $(this).attr("action"); //get form action url-->
<!--              let request_method = $(this).attr("method"); //get form GET/POST method-->
<!--              let form_data = $(this).serialize(); //Encode form elements for submission-->
<!--              $.ajax({-->
<!--                  url: post_url,-->
<!--                  type: request_method,-->
<!--                  data: form_data-->
<!--                }).done(function(response) { //-->
<!--                consloe.log("2");-->
<!--                let pattern = /50c9a8c2b1cb45799d8f0db5f8449c65/i;-->
<!--                let result = response.match(pattern);-->
<!--                if(result)-->
<!--                {-->
<!--                consloe.log("3");-->
<!--                    $("#server-results-add").html(response);-->
<!--                }-->
<!--                else-->
<!--                {-->
<!--                consloe.log("4");-->
<!--                    $('#add1').modal('hide');-->
<!--                    confirm("DATA BERHASIL DISIMPAN");-->
<!--                    window.location = "/product";// ini refresh page nya-->
<!--                }-->
<!--                });-->
<!--            });-->

<!--    /*]]>*/-->
<!--</script>-->
</body>
</html>
