<!-- fragments/navbar.html -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navheader" class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm px-4">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand fw-bold" th:href="@{/home}">KEPUL</a>

    <!-- Toggler for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu items -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav align-items-center">
<!--        <th:block th:if="${USR_NAME != null}" th:utext="${MENU_NAVBAR}"></th:block>-->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/product}">Product List</a>
        </li>
          <li class="nav-item">
              <a th:if="${AKSES == 'Admin'} " class="nav-link" th:href="@{/product-category}">
                  Product Category List
              </a>
<!--              <a class="nav-link" th:href="@{/product-category}">Product Category List</a>-->
          </li>

          <li class="nav-item">
          <a class="nav-link" th:href="@{/transaction}">Request List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user}">User List</a>
        </li>

        <!-- Vertical divider -->
        <li class="nav-item">
          <div class="vr mx-3 d-none d-lg-block"></div>
        </li>

        <!-- Admin Dropdown -->
        <li class="nav-item dropdown">
          <a th:if="${USR_NAME != null} " class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
<!--              <div th:if="${AKSES}" th:text="${AKSES}"></div>-->
              <span th:if="${AKSES}" th:text="${AKSES}" class="me-1"></span>

          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" th:if="${USR_NAME != null}" th:href="@{/auth/logout}">Logout</a></li>
          </ul>
        </li>

        <!-- Login if not logged in -->
        <li class="nav-item">
          <a class="nav-link" th:if="${USR_NAME == null}" th:href="@{/}">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>


<!--old version-->







<!--&lt;!&ndash; fragments/navbar.html &ndash;&gt;-->
<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<body>-->
<!--<nav th:fragment="navheader" class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm px-4">-->
<!--  <div class="collapse navbar-collapse">-->
<!--    <a class="navbar-brand fw-bold" href="#">KEPUL</a>-->
<!--    <ul class="navbar-nav ms-auto">-->
<!--      <li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>-->
<!--&lt;!&ndash;      <th:block th:if="${USR_NAME != null}" th:utext="${MENU_NAVBAR}"></th:block>&ndash;&gt;-->
<!--      <li class="nav-item"><a class="nav-link" th:href="@{/product}">Product List</a></li>-->
<!--      <li class="nav-item"><a class="nav-link" th:href="@{/request}">Request List</a></li>-->
<!--      <li class="nav-item"><a class="nav-link" th:href="@{/user}">User List</a></li>-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Admin</a>-->
<!--        <ul class="dropdown-menu dropdown-menu-end">-->
<!--          <li><a class="dropdown-item" th:if="${USR_NAME != null}" th:href="@(/auth/logout">Logout</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li class="nav-item"><a class="nav-link" th:if="${USR_NAME == null}" th:href="@{/}">Login</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<!--</body>-->
<!--</html>-->


<!--baru -->


