<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="btn-functional">
    <div class="my-3">
        <!-- Tombol Add -->
        <button type="button"
                th:data-title="'ADD'"
                th:data-server="'#server-results-add'"
                onclick="funcModalsHandler(event)"
                th:data-url="'/'+${pathServer}+'/a'"
                class="btn btn-primary" data-toggle="modal" data-target="#add1">

        <!--                class="btn btn-success me-2"-->
<!--                data-bs-toggle="modal" data-bs-target="#add1">-->
            Create Product
        </button>

        <!-- Export PDF -->
        <a th:href="@{'/'+${pathServer}+'/pdf?column='+${columnName}+'&value='+${value}}">
            <button class="btn btn-outline-danger me-2" type="button">Export PDF</button>
        </a>

        <!-- Export Excel -->
        <a th:href="@{'/'+${pathServer}+'/excel?column='+${columnName}+'&value='+${value}}">
            <button class="btn btn-outline-success" type="button">Export Excel</button>
        </a>
    </div>
</div>
</body>
</html>



<!--    <!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<div th:fragment="btn-functional">-->
<!--    <div>-->
<!--        <button type="button"-->
<!--                th:data-title="'ADD'"-->
<!--                th:data-server="'#server-results-add'"-->
<!--                onclick="funcModalsHandler(event)"-->
<!--                th:data-url="'/'+${pathServer}+'/a'"-->
<!--                class="btn btn-primary" data-toggle="modal" data-target="#add1">-->
<!--            ADD-->
<!--        </button>-->
<!--        <a th:href="@{'/'+${pathServer}+'/pdf?column='+${columnName}+'&value='+${value}}">-->
<!--            <button  class="btn btn-primary" type="button">PDF</button>-->
<!--        </a>-->
<!--        <a th:href="@{'/'+${pathServer}+'/excel?column='+${columnName}+'&value='+${value}}">-->
<!--            <button  class="btn btn-primary" type="button">Excel</button>-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->

<!--</html>-->